# whitelist
*

# git
!.gitignore

# tmux
!tmux/

# fish
!fish/

# fonts
!fonts/

# neovim
!nvim/

# beets
!beets/

# i3
!i3

# i3lock-fancy
!i3lock-fancy/

# moc
!moc/

# pulse
!pulse/

# urxvt
!urxvt/

# x
!x/

# xdg
!xdg/

# git
!git
git/*
!git/.gitconfig
